:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    
    --main-color: #ff6C00;
}

body {
    --font-family:var(--main-font)
}

.href {color: red;}

text {color: #005533}